* {
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: black;
}

.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul{
  display: flex;
  justify-content: center;
  margin-right: 20%;
  gap: 10px;
  width: 10%;
  align-items: center;
}