* {
  list-style: none;
  text-decoration: none;
  margin: 0;
}

body {
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: background-color 0.4s;
}

.navbar .logo {
  margin-right: 25px;
  cursor: pointer;
}

.navbar ul{
  display: flex;
  justify-content: center;
  margin-right: 100px;
  gap: 10px;
  /* width: 10%; */
  align-items: center;
}

.navbar ul a:hover {
  color: red;
}

.top-container {
  background-image: url("https://images.unsplash.com/photo-1555532538-dcdbd01d373d?q=80&w=1564&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: none;
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
  background-size: cover;
}

.top-container h1 {
  color: #fff;
  margin: auto;
  letter-spacing: 2px;
}

.text {
  margin: 50px 20px;
  text-align: justify;
}

.contact {
  margin: 50px 0 0;
  background: rgba(128, 128, 128, 0.116);
  background-size: auto;
  padding: 20px;
}

.navbar.active {
  background: #000;
}

.navbar.active ul a {
  color: #fff
}
